body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.header-margin-link:first-child {
  margin: 0 0 0 100px;
}

.header-margin-link:last-child {
  margin: 0 100px 0 0;
}


@media (max-width: 768px) {
  .header-margin-link {
    margin: 0!important;
  }
}
